<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">

    <gazebo reference="l_wheel">
        <mu1>200</mu1>
        <mu2>200</mu2>
        <kp>10000000.0</kp>
        <kd>1.0</kd>
        <!-- <minDepth>0.001</minDepth> -->
    </gazebo>

    <gazebo reference="r_wheel">
        <mu1>200</mu1>
        <mu2>200</mu2>
        <kp>10000000.0</kp>
        <kd>1.0</kd>
        <!-- <minDepth>0.001</minDepth> -->
    </gazebo>

    <gazebo reference="f_caster_wheel1">
        <mu1>1</mu1>
        <mu2>1</mu2>
        <kp>10000000.0</kp>
        <kd>1.0</kd>
        <!-- <minDepth>0.001</minDepth> -->
    </gazebo>

    <gazebo reference="f_caster_wheel2">
        <mu1>1</mu1>
        <mu2>1</mu2>
        <kp>10000000.0</kp>
        <kd>1.0</kd>
        <!-- <minDepth>0.001</minDepth> -->
    </gazebo>

    <gazebo reference="r_caster_wheel1">
        <mu1>1</mu1>
        <mu2>1</mu2>
        <kp>10000000.0</kp>
        <kd>1.0</kd>
        <!-- <minDepth>0.001</minDepth> -->
    </gazebo>

    <gazebo reference="r_caster_wheel2">
        <mu1>1</mu1>
        <mu2>1</mu2>
        <kp>10000000.0</kp>
        <kd>1.0</kd>
        <!-- <minDepth>0.001</minDepth> -->
    </gazebo>

    <gazebo>
        <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
            <robotNamespace></robotNamespace>
            <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
            <controlPeriod>0.001</controlPeriod>
            <legacyModeNS>false</legacyModeNS>
        </plugin>
    </gazebo>

    <xacro:macro name="insert_lidar" params="prefix">
        <gazebo reference="${prefix}_lidar">
            <sensor type="gpu_ray" name="${prefix}_laser_sensor">
                <pose>0 0 0 0 0 0</pose>
                <visualize>true</visualize>
                <update_rate>15</update_rate>
                <ray>
                    <scan>
                        <horizontal>
                            <samples>576</samples>
                            <resolution>1</resolution>
                            <min_angle>${-135/180*pi}</min_angle>
                            <max_angle>${135/180*pi}</max_angle>
                        </horizontal>
                    </scan>
                    <range>
                        <min>0.10</min>
                        <max>15.0</max>
                        <resolution>0.01</resolution>
                    </range>
                    <noise>
                        <type>gaussian</type>
                        <mean>0.0</mean>
                        <stddev>0.01</stddev>
                    </noise>
                </ray>
                <plugin name="gazebo_ros_head_hokuyo_controller" filename="libgazebo_ros_gpu_laser.so">
                    <topicName>${prefix}_scan</topicName>
                    <frameName>${prefix}_lidar</frameName>
                </plugin>
            </sensor>
        </gazebo>
    </xacro:macro>

    <xacro:insert_lidar prefix="front"/>
    <xacro:insert_lidar prefix="rear"/>

    <!-- <gazebo reference="qr_reader">
        <sensor type="camera" name="camera">
            <update_rate>40.0</update_rate>
            <camera name="qr_camera">
                <pose>0 0 0 -1.5707 1.5707 0</pose>
                <horizontal_fov>1.27</horizontal_fov>
                <image>
                    <width>640</width>
                    <height>480</height>
                    <format>R8G8B8</format>
                </image>
                <clip>
                    <near>0.002</near>
                    <far>300</far>
                </clip>
                <noise>
                <type>gaussian</type>
                    <mean>0.0</mean>
                    <stddev>0.007</stddev>
                </noise>
            </camera>

            <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
                <alwaysOn>true</alwaysOn>
                <updateRate>0.0</updateRate>
                <cameraName>qr_camera</cameraName>
                <imageTopicName>image_raw</imageTopicName>
                <cameraInfoTopicName>camera_info</cameraInfoTopicName>
                <frameName>qr_reader</frameName>
                <hackBaseline>0.07</hackBaseline>
                <distortionK1>0.0</distortionK1>
                <distortionK2>0.0</distortionK2>
                <distortionK3>0.0</distortionK3>
                <distortionT1>0.0</distortionT1>
                <distortionT2>0.0</distortionT2>
            </plugin>
        </sensor>
    </gazebo> -->

</robot>