<?xml version="1.0"?>
<robot name="thirabot_k10" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:include filename="$(find k3_test_description)/urdf/gazebo.urdf.xacro"/>
    <xacro:include filename="$(find k3_test_description)/urdf/inertia_macro.urdf.xacro"/>
    <xacro:include filename="$(find k3_test_description)/urdf/insert_transmission.urdf.xacro"/>


    <link name="base_footprint"/>
    <link name="base_link">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="package://k3_test_description/meshes/main_frame.dae" scale="1 1 1"/>
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="package://k3_test_description/meshes/main_frame.dae" scale="1 1 1"/>
            </geometry>
        </collision>
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="80.0"/>
            <inertia ixx="2.38222598299" ixy="-0.05739554441" ixz="-0.00191389514" iyy="5.177315735" iyz="-0.0016813482" izz="6.73941100954"/>
        </inertial>
    </link>

    <joint name="base_link_fixed" type="fixed">
        <parent link="base_footprint"/>
        <child link="base_link"/>
        <origin xyz="0 0 0.0825" rpy="0 0 0"/>
    </joint>

    <xacro:macro name="insert_main_wheel" params="prefix dir">
        <link name="${prefix}_wheel_fixed_axis">
            <visual>
                <origin xyz="0 0 0" rpy="0 0 ${dir * -90*pi/180}"/>
                <geometry>
                    <mesh filename="package://k3_test_description/meshes/main_wheel_axis.dae" scale="1 1 1"/>
                </geometry>
            </visual>
            <collision>
                <origin xyz="0 0 0" rpy="0 0 ${dir * -90*pi/180}"/>
                <geometry>
                    <mesh filename="package://k3_test_description/meshes/main_wheel_axis.dae" scale="1 1 1"/>
                </geometry>
            </collision>
            <inertial>
                <origin xyz="-0.005351 0 0" rpy="0 0 ${dir * -90*pi/180}"/>
                <mass value="1.0"/>
                <inertia ixx="0.000051226" ixy="0.0" ixz="0.0" iyy="0.001861631" iyz="0.0" izz="0.001859351"/>
            </inertial>
        </link>

        <joint name="${prefix}_wheel_fixed_joint" type="fixed">
            <parent link="base_link"/>
            <child link="${prefix}_wheel_fixed_axis"/>
            <origin xyz="0 ${dir * 0.2245} 0" rpy="0 0 0"/>
        </joint>

        <link name="${prefix}_wheel">
            <visual>
                <origin xyz="0 0 0" rpy="0 0 ${dir * -90*pi/180}"/>
                <geometry>
                    <mesh filename="package://k3_test_description/meshes/main_wheel_body.dae" scale="1 1 1"/>
                </geometry>
            </visual>
            <collision>
                <origin xyz="0 0 0" rpy="0 0 ${dir * -90*pi/180}"/>
                <geometry>
                    <mesh filename="package://k3_test_description/meshes/main_wheel_body.dae" scale="1 1 1"/>
                </geometry>
            </collision>
            <inertial>
                <origin xyz="0 0 0" rpy="0 0 ${dir * -90*pi/180}"/>
                <mass value="12.0"/>
                <inertia ixx="0.037394" ixy="0.0" ixz="0.0" iyy="0.024470" iyz="0.0" izz="0.024470"/>
            </inertial>
        </link>

        <joint name="${prefix}_wheel_joint" type="continuous">
            <parent link="${prefix}_wheel_fixed_axis"/>
            <child link="${prefix}_wheel"/>
            <axis xyz="0 1 0"/>
            <origin xyz="0 0 0" rpy="0 0 0"/>
        </joint>
        <xacro:insert_velocity_transmission name="${prefix}_wheel_joint"/>
    </xacro:macro>

    <xacro:insert_main_wheel prefix="l" dir="1"/>
    <xacro:insert_main_wheel prefix="r" dir="-1"/>

    <xacro:macro name="insert_caster_wheel" params="prefix dir">
        <link name="${prefix}_caster_mount">
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <mesh filename="package://k3_test_description/meshes/caster_mount.dae" scale="1 1 1"/>
                </geometry>
            </visual>
            <collision>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <mesh filename="package://k3_test_description/meshes/caster_mount.dae" scale="1 1 1"/>
                </geometry>
            </collision>
            <inertial>
                <origin xyz="0 0 -0.01" rpy="0 0 0"/>
                <mass value="1.579"/>
                <inertia ixx="0.00133437338" ixy="0.0" ixz="0.0" iyy="0.00133595613" iyz="0.0" izz="0.00254792224"/>
            </inertial>
        </link>

        <joint name="${prefix}_caster_mount_fixed" type="fixed">
            <parent link="base_link"/>
            <child link="${prefix}_caster_mount"/>
            <origin xyz="${dir * 0.3375} 0 0.0405" rpy="0 0 0"/>
        </joint>

        <link name="${prefix}_caster_rotate">
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <mesh filename="package://k3_test_description/meshes/caster_rotate.dae" scale="1 1 1"/>
                </geometry>
            </visual>
            <collision>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <mesh filename="package://k3_test_description/meshes/caster_rotate.dae" scale="1 1 1"/>
                </geometry>
            </collision>
            <inertial>
                <origin xyz="-0.006856 0 -0.022825" rpy="0 0 0"/>
                <mass value="1.824"/>
                <inertia ixx="0.00162071448" ixy="0.0" ixz="0.0" iyy="0.00210140087" iyz="0.0" izz="0.00205468149"/>
            </inertial>
        </link>

        <joint name="${prefix}_caster_rotate_joint" type="continuous">
            <parent link="${prefix}_caster_mount"/>
            <child link="${prefix}_caster_rotate"/>
            <axis xyz="0 0 1"/>
            <origin xyz="0 0 -0.022" rpy="0 0 0"/>
        </joint>

        <link name="${prefix}_caster_tilt">
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <mesh filename="package://k3_test_description/meshes/caster_tilt.dae" scale="1 1 1"/>
                </geometry>
            </visual>
            <collision>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <mesh filename="package://k3_test_description/meshes/caster_tilt.dae" scale="1 1 1"/>
                </geometry>
            </collision>
            <inertial>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <mass value="0.319"/>
                <inertia ixx="0.00039368351" ixy="0.0" ixz="0.0" iyy="0.00002810787" iyz="0.0" izz="0.00038530588"/>
            </inertial>
        </link>

        <joint name="${prefix}_caster_tilt_joint" type="revolute">
            <parent link="${prefix}_caster_rotate"/>
            <child link="${prefix}_caster_tilt"/>
            <axis xyz="1 0 0"/>
            <origin xyz="-0.030 0 -0.0635" rpy="0 0 0"/>
            <limit effort="100" velocity="1.0" lower="${-5*pi/180}" upper="${5*pi/180}"/>
        </joint>

        <link name="${prefix}_caster_wheel1">
            <visual>
                <origin xyz="0 0 0" rpy="0 0 ${90*pi/180}"/>
                <geometry>
                    <mesh filename="package://k3_test_description/meshes/caster_wheel.dae" scale="1 1 1"/>
                </geometry>
            </visual>
            <collision>
                <origin xyz="0 0 0" rpy="0 0 ${90*pi/180}"/>
                <geometry>
                    <mesh filename="package://k3_test_description/meshes/caster_wheel.dae" scale="1 1 1"/>
                </geometry>
            </collision>
            <inertial>
                <origin xyz="0 0 0" rpy="0 0 ${90*pi/180}"/>
                <mass value="0.936"/>
                <inertia ixx="0.00065654885" ixy="0.0" ixz="0.0" iyy="0.00039382798" iyz="0.0" izz="0.00039372956"/>
            </inertial>
        </link>

        <joint name="${prefix}_caster_wheel1_joint" type="continuous">
            <parent link="${prefix}_caster_tilt"/>
            <child link="${prefix}_caster_wheel1"/>
            <axis xyz="0 1 0"/>
            <origin xyz="0 -0.034 0" rpy="0 0 0"/>
        </joint>

        <link name="${prefix}_caster_wheel2">
            <visual>
                <origin xyz="0 0 0" rpy="0 0 ${-90*pi/180}"/>
                <geometry>
                    <mesh filename="package://k3_test_description/meshes/caster_wheel.dae" scale="1 1 1"/>
                </geometry>
            </visual>
            <collision>
                <origin xyz="0 0 0" rpy="0 0 ${-90*pi/180}"/>
                <geometry>
                    <mesh filename="package://k3_test_description/meshes/caster_wheel.dae" scale="1 1 1"/>
                </geometry>
            </collision>
            <inertial>
                <origin xyz="0 0 0" rpy="0 0 ${-90*pi/180}"/>
                <mass value="0.936"/>
                <inertia ixx="0.00065654885" ixy="0.0" ixz="0.0" iyy="0.00039382798" iyz="0.0" izz="0.00039372956"/>
            </inertial>
        </link>

        <joint name="${prefix}_caster_wheel2_joint" type="continuous">
            <parent link="${prefix}_caster_tilt"/>
            <child link="${prefix}_caster_wheel2"/>
            <axis xyz="0 1 0"/>
            <origin xyz="0 0.034 0" rpy="0 0 0"/>
        </joint>
    </xacro:macro>

    <xacro:insert_caster_wheel prefix="f" dir="1"/>
    <xacro:insert_caster_wheel prefix="r" dir="-1"/>


    <xacro:macro name="insert_lidar_link" params="prefix dir">
        <link name="${prefix}_lidar_mount">
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <mesh filename="package://k3_test_description/meshes/sick_tim5series.dae" scale="1 1 1"/>
                </geometry>
            </visual>
            <collision>
                <origin xyz="0 0 0.0429" rpy="0 0 0"/>
                <geometry>
                    <!-- <mesh filename="package://k3_test_description/meshes/sick_tim5series.dae" scale="1 1 1"/> -->
                    <cylinder radius="0.03" length="0.0858"/>
                </geometry>
            </collision>
            <inertial>
                <origin xyz="-0.003 0 0.03288" rpy="0 0 0"/>
                <mass value="1.639"/>
                <inertia ixx="0.00115131613" ixy="0.0" ixz="0.0" iyy="0.00119095223" iyz="0.0" izz="0.00079335523"/>
            </inertial>
        </link>

        <joint name="${prefix}_lidar_mount_fixed" type="fixed">
            <parent link="base_link"/>
            <child link="${prefix}_lidar_mount"/>
            <origin xyz="${dir*0.386743} ${dir*-0.241743} 0.1225" rpy="0 0 ${(45-(dir*90))*pi/180}"/>
        </joint>

        <link name="${prefix}_lidar"/>
        <joint name="${prefix}_lidar_fixed" type="fixed">
            <parent link="${prefix}_lidar_mount"/>
            <child link="${prefix}_lidar"/>
            <origin xyz="-0.001 0 0.06246" rpy="0 0 0"/>
        </joint>
    </xacro:macro>

    <xacro:insert_lidar_link prefix="front" dir="1"/>
    <xacro:insert_lidar_link prefix="rear" dir="-1"/>


    <link name="top_lift_link">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="package://k3_test_description/meshes/top_lift.dae" scale="1 1 1"/>
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="package://k3_test_description/meshes/top_lift.dae" scale="1 1 1"/>
            </geometry>
        </collision>
        <inertial>
            <origin xyz="0 0 0.024915" rpy="0 0 0"/>
            <mass value="4.899"/>
            <inertia ixx="0.1708252641" ixy="0.0" ixz="0.0" iyy="0.1708252641" iyz="0.0" izz="0.03212389119"/>
        </inertial>
    </link>

    <joint name="top_lift_joint" type="prismatic">
        <parent link="base_link"/>
        <child link="top_lift_link"/>
        <axis xyz="0 0 1"/>
        <origin xyz="0 0 0.1555" rpy="0 0 0"/>
        <limit effort="100" velocity="0.2" lower="0" upper="0.04"/>
    </joint>
    <xacro:insert_position_transmission name="top_lift_joint"/>

    <link name="top_turn_link">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="package://k3_test_description/meshes/top_turn.dae" scale="1 1 1"/>
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="package://k3_test_description/meshes/top_turn.dae" scale="1 1 1"/>
            </geometry>
        </collision>
        <inertial>
            <origin xyz="0 0 0.004993" rpy="0 0 0"/>
            <mass value="15.496"/>
            <inertia ixx="0.28045670659" ixy="0.0" ixz="0.0" iyy="0.27999536295" iyz="0.0" izz="0.56019388486"/>
        </inertial>
    </link>

    <joint name="top_turn_joint" type="revolute">
        <parent link="top_lift_link"/>
        <child link="top_turn_link"/>
        <axis xyz="0 0 1"/>
        <origin xyz="0 0 0.05" rpy="0 0 0"/>
        <limit effort="100" velocity="0.6" lower="${-4*pi}" upper="${4*pi}"/>
    </joint>
    <xacro:insert_position_transmission name="top_turn_joint"/>
</robot>